.graph-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.graph {
	width: 50%;
	margin: 0%;
}

.graph-content {
	display: block;
	width: 100%;
}


.break{
	flex-basis: 100%;
	width: 0px; 
	height: 0px; 
	overflow: hidden;
}

.select {
	margin-left: 100px;
}