<!--The content below is only a placeholder and can be replaced.-->
<div class="title">
    Tier zero monitoring
</div>

<div class="text">
	Live monitoring of the CERN GRID computers on tier zero
</div>
<div class="content">
	<div class="graph-container">
		<div class="graph">
			<img class="graph-content" [src]="first_graph" />
		</div>

		<div class="graph">
			<img class="graph-content" [src]="second_graph" />
		</div>
	</div>

	<div class="statuses">
		<div class="stat-container">
			<div class="stat-label">
				Total
			</div>
			
			<div class="stat-row">
				<div class="stat" routerLink="/jobs" [queryParams]="{statuses: 'RUN,UNKWN', users: 'atlprd56,atlprd21', queues: 'grid_atlas,atlastzprod'}" routerLinkActive="active">
					{{running_count}} Running
				</div>

				<div class="stat">
					{{pending_count}} Pending
				</div>

				<div class="stat">
					{{unknown_count}} Unknown
				</div>
			</div>


			<ng-container *ngFor="let group of jobs_json">
				<div class="stat-delimeter">
					Cores {{group.cores}}
				</div>

				<ng-container *ngFor="let items of ['peshoo']">

					<div class="stat-label">
						Users
					</div>

					<ng-container *ngFor="let item of group.users | keys">
						<div class="stat-row">
							<div class="stat" routerLink="/jobs" [queryParams]="{users: item}">
								{{item}}
							</div>

							<ng-container *ngFor="let type of ['running', 'pending', 'unknown']">
								<div class="stat" routerLink="/jobs" [queryParams]="{statuses: (type == 'running' ? 'RUN' : (type == 'pending' ? 'PEND' : 'UNKWN')), users: item}" routerLinkActive="active">
									{{group.users[item][type]}}
								</div>
							</ng-container>
						</div>
					</ng-container>

					<div class="stat-label">
						Queues
					</div>
					
					<ng-container *ngFor="let item of group.queues | keys">
						<div class="stat-row">
							<div class="stat" routerLink="/jobs" [queryParams]="{queues: item}">
								{{item}}
							</div>

							<ng-container *ngFor="let type of ['running', 'pending', 'unknown']">
								<div class="stat" routerLink="/jobs" [queryParams]="{statuses: (type == 'running' ? 'RUN' : (type == 'pending' ? 'PEND' : 'UNKWN')), queues: item}" routerLinkActive="active">
									{{group.queues[item][type]}}
								</div>
							</ng-container>
						</div>
					</ng-container>

					<div class="stat-label">
						Computing Element
					</div>

					<ng-container *ngFor="let item of group.hosts | keys">
						<div class="stat-row">
							<div class="stat" routerLink="/jobs" [queryParams]="{CEs: item}">
								{{item}}
							</div>

							<ng-container *ngFor="let type of ['running', 'pending', 'unknown']">
								<div class="stat" routerLink="/jobs" [queryParams]="{statuses: (type == 'running' ? 'RUN' : (type == 'pending' ? 'PEND' : 'UNKWN')), CEs: item}" routerLinkActive="active">
									{{group.hosts[item][type]}}
								</div>
							</ng-container>
						</div>
					</ng-container>
				</ng-container>
			</ng-container>
		</div>

		<div class="stat-container">
			<div class="stat">
				Ayy
			</div>
		</div>
	</div>

</div>