<!--The content below is only a placeholder and can be replaced.-->
<div class="title">
    Tier zero monitoring
</div>

<div class="text">
	Live monitoring of the CERN GRID computers on tier zero
</div>
<div class="content">
	<ng-container *ngIf="total != undefined && jobs_json != undefined && hosts_json != undefined && charts_json != undefined">
		<div class="graph-container">
			<md-select class="select" placeholder="Interval" [(ngModel)]="selectedInterval" (change) = "onIntervalSelected()">
				<md-option *ngFor="let interval of charts_json.intervals" [value]="interval">{{interval}}</md-option>
			</md-select>

			<div class="break"></div>
			
			<div class="graph">
				<img class="graph-content" [src]="first_graph" />
			</div>

			<div class="graph">
				<img class="graph-content" [src]="second_graph" />
			</div>
		</div>

	
		<div class="statuses">
			<ng-template #jobHeader>
				<div class="stat-row">
					<div class="stat">
						.
					</div>

					<ng-container *ngFor="let label of jobStatus">
						<div class="stat" routerLink="/jobs" [queryParams]="{STAT: label}" routerLinkActive="active">
							{{(label == 'RUN' ? "Running": (label == 'PEND' ? "Pending" : "Unknown") ) }}
						</div>
					</ng-container>
				</div>
			</ng-template>

			<div class="stat-container">
				<div class="stat-label">
					Total
				</div>
				
				<ng-container *ngTemplateOutlet="jobHeader"></ng-container>

				<div class="stat-row">
					<div class="stat">
						.
					</div>

					<ng-container *ngFor="let key of jobStatus">
						<div class="stat" routerLink="/jobs" [queryParams]="{STAT: key}" routerLinkActive="active">
							{{total[key]}}
						</div>
					</ng-container>
				</div>

				<ng-container *ngFor="let group of jobs_json">
					<div class="stat-delimeter">
						Cores {{group.cores}}
					</div>

					<ng-container *ngFor="let type of ['QUEUE', 'FROM_HOST', 'USER']">
						<div class="stat-label">
							{{ (type == 'USER' ? "Users" : (type == 'QUEUE' ? "Queues" : "Computing element") ) }}
						</div>

						<ng-container *ngTemplateOutlet="jobHeader"></ng-container>
						
						<ng-container *ngFor="let item of group[type] | keys">
							<div class="stat-row">
								<div class="stat" routerLink="/jobs" [queryParams]="{USER: (type == 'USER' ? item : ''), QUEUE: (type == 'QUEUE' ? item : ''), FROM_HOST: (type == 'FROM_HOST' ? item : '')}">
									{{item}}
								</div>

								<ng-container *ngFor="let stat of ['RUN', 'PEND', 'UNKWN']">
									<div class="stat" routerLink="/jobs" [queryParams]="{STAT: stat, USER: (type == 'USER' ? item : ''), QUEUE: (type == 'QUEUE' ? item : ''), FROM_HOST: (type == 'FROM_HOST' ? item : '')}" routerLinkActive="active">
										{{group[type][item][stat]}}
									</div>
								</ng-container>
							</div>
						</ng-container>
					</ng-container>
				</ng-container>
			</div>

			<ng-template #hostHeader>
				<div class="stat-row">
					<div class="stat">
						.
					</div>
					<ng-container *ngFor="let label of hostStatus">
						<div class="stat" routerLink="/hosts" [queryParams]="{STATUS: label}">
							{{label}}
						</div>
					</ng-container>
				</div>
			</ng-template>

			<div class="stat-container">
				<div class="stat-label">
					Hosts
				</div>

				<ng-container *ngTemplateOutlet="hostHeader"></ng-container>

				<div class="stat-row">
					<div class="stat">
						Slots/Jobs
					</div>

					<ng-container *ngFor="let label of hostStatus">

						<div class="stat">
							{{hosts_json[label].total_maximum_number_of_jobs}} / {{hosts_json[label].total_number_of_jobs}}
						</div>
					</ng-container>
				</div>

				<div class="stat-label">
					Total free slots
				</div>

				<ng-container *ngTemplateOutlet="hostHeader"></ng-container>

				<ng-container *ngFor="let core of coresArray">

					<div class="stat-row">
					<!--<div class="stat">
						Total
					</div>-->
						<div class="stat">
							.
						</div>
						<ng-container *ngFor="let label of hostStatus">
							<div class="stat">
								{{ ( hosts_json[label].list_of_differences_between_max_and_current_jobs_sorted_by_difference_size[core] != undefined ? hosts_json[label].list_of_differences_between_max_and_current_jobs_sorted_by_difference_size[core] +  'x' +  core : '.' )}}
							</div>
						</ng-container>
					</div>
				</ng-container>
			</div>
		</div>
	</ng-container>

</div>