<!--The content below is only a placeholder and can be replaced.-->
<div class="title">
    Tier zero monitoring
</div>

<div class="text">
	Live monitoring of the CERN GRID computers on tier zero
</div>
<div class="content">
	<div class="graph-container">
		<div class="graph">
			<img class="graph-content" [src]="first_graph" />
		</div>

		<div class="graph">
			<img class="graph-content" [src]="second_graph" />
		</div>
	</div>


	<div class="stat-container">
		<div class="stat">
			150 Running
		</div>

		<div class="stat">
			45 Pending
		</div>

		<div class="stat">
			4 Unknown
		</div>
	</div>

</div>