.title {
	font-weight: bold;
	font-size: 30pt;
	text-align: center;

	padding: 30px;
}

.text {
	color: #999999;

	text-align: center;
}

.graph-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.graph {
	width: 50%;
	margin: 1%;
}

.graph-content {
	display: block;
	width: 100%;
}

.content {
	width: 100%;

	display: flex;
	flex-direction: column;

	justify-content: space-between;
}

.statuses {
	display: flex;

	flex-direction: row;

	justify-content: space-between;
}

.stat-label {
	align-self: center;
	text-align: center;
}

.stat-container {
	display: flex;
	flex-direction: column;

	align-self: center;
}

.stat-row {
	display: flex;

	flex-direction: row;

	justify-content: space-around;
}

.stat {
	margin: 1.5%;

	background-color: #4286f4;

	padding: 20px;

	border-radius: 12px;

	color: #FFFFFF;

	text-align: center;

	align-self: flex-end;

	flex-grow: 1;
}