.title {
	font-weight: bold;
	font-size: 30pt;
	text-align: center;

	padding: 30px;
}

.text {
	color: #999999;

	text-align: center;
}

.content {
	width: 100%;

	display: flex;
	flex-direction: column;

	justify-content: space-between;
}

.statuses {
	display: flex;

	flex-direction: row;
	flex-wrap: wrap;

	justify-content: space-between;

	align-items: flex-start;
}

.stat-delimeter {
	align-self: center;
	text-align: center;

	background-color: rgb(237, 119, 121);
	color: #000000;

	padding: 20px;

	margin: 10px;

	border-radius: 3px;
}

.stat-label {
	align-self: center;
	text-align: center;

	background-color: rgb(181, 212, 243);
	color: #000000;

	padding: 10px;

	margin: 5px;

	border-radius: 3px;
}

.stat-container {
	display: flex;
	flex-direction: column;

	max-width: 50%;
}

.stat-row {
	display: flex;

	align-items: flex-start;

	flex-direction: row;
}

.inline-stat-row {
	display: flex;

	flex-direction: column;
}

.stat {
	width: 120px;

	background-color: #4286f4;

	padding: 10px;

	color: #FFFFFF;

	text-align: center;

	overflow: hidden;
	text-overflow: ellipsis;

	flex-grow: 1;

	cursor: pointer;
}

.stat.stretch {
	align-self: stretch;
}